@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* import "slick-carousel/slick/slick.css";
import "slick-carousel/slick/slick-theme.css"; */
:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "DM Sans", serif;

}
html {
  scroll-behavior: smooth;
}